
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-black;
}

body {
  @apply bg-black text-white;
}
html {
  scroll-behavior: smooth;
  @apply bg-black;
}

/* Css */

.footer-link {
  @apply text-white text-sm hover:text-primary transition-colors;
}

.social-icon {
  @apply text-xl text-white hover:text-primary transition-transform hover:-translate-y-1;
}

/* Empty stars */
.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: rgba(255, 255, 255, 0.25) !important;
}

/* Filled stars */
.ant-rate-star-full .ant-rate-star-first,
.ant-rate-star-full .ant-rate-star-second {
  color: #ef4444 !important;
}

/* Custom styling for the dropdown results */
.cyberpunk-dropdown {
  background-color: #141414 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px !important;
}

.cyberpunk-dropdown .ant-select-item-option-active {
  background-color: rgba(239, 68, 68, 0.1) !important;
}

.cyberpunk-select .ant-select-selector {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px !important;
  color: white !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
}

/* Fix for modal text visibility */
.ant-modal-close {
  color: rgba(255,255,255,0.5) !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(220, 38, 38, 0.5); /* Red hover */
}

